/*======================================================================*\
    Main Content
\*======================================================================*/

img {
    max-width: 100%;
    height: auto;
}

#MainContent {
    margin: 0 0 $gap-lg 0;
    @media(min-width: $screen-sm-min) {
        margin: 0 0 $gap-xl 0;
    }
}

.container {
    @media(min-width: $screen-lg-min) {
        width: $container-md;
    }
}

.clearBoth {
    @include clearfix();
    br {
        display: none;
    }
}