/*======================================================================*\
    Header
\*======================================================================*/

.header {
    margin: $gap-lg 0;
    .logo {
        text-align: center;
        @media(min-width: $screen-sm-min) {
            text-align: left;
        }
        img {
            max-width: 60%;
        }
    }
    .banner {
        margin: $gap-lg 0;
        max-height: $gap-xl * 4;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
}